<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
        
    body
        h2 Reestablecer Password
        p Has solicitado reestablecer tu password, haz click en el siguiente enlace para restablecerlo,este enlace es temporal, así que si se vence vuelva a solicitarlo
        a(href=`${resetUrl}`) Ir a enlace
        p Si no puedes acceder a este enlace visita #{resetUrl}
        p Si no solicitaste este e-mail, puedes ignorarlo
